.App {
  display: grid;
  grid-template-columns: 1fr 200px minmax(200px, 800px) 1fr;
  grid-template-rows: 50px 1fr;
  height: 100%;
}

.App-header {
  background-color: azure;
  padding: 10px;
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sidenav {
  grid-column-start: 2;
}

.main {
  grid-column-start: 3;
}